---
layout: archive
title: "Publications (sorted by year)"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles sorted by <b>number of citations</b> on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.<p></p></div>
{% endif %} 

 
{% assign pubs_page = site.pages | where: "name", "springerours.md" | first %}
<!-- {{ pubs_page.content | markdownify }} -->
{{ pubs_page.content 
  | replace: '<a href="http://', '<a target="_blank" rel="noopener noreferrer" href="http://'
  | replace: '<a href="https://', '<a target="_blank" rel="noopener noreferrer" href="https://'
}}
 
<!-- {% include base_path %} --> 

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->



